/* Reseteo universal para quitar márgenes por defecto del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100vh;
  /* El color de fondo verde esmeralda mítico de Windows 95 */
  background-color: #008080; 
  /* Forzamos la fuente retro en toda la página */
  font-family: 'MS Sans Serif', 'Arial', sans-serif;
  overflow: hidden; /* Evita barras de scroll dobles, las manejamos en los componentes */
}